fastapi
uvicorn[standard]
a2wsgi
sqlalchemy
jinja2
python-multipart
python-jose
passlib[bcrypt]
bcrypt<5.0.0
aiofiles
email-validator
pymongo[srv]
openai
python-dotenv
pydantic
reportlab
PyPDF2
python-docx
requests
certifi
langgraph
cloudinary
stripe
PyJWT
groq
